body {
  text-align: center;
  background-color: rgb(10, 0, 32);
  color: white;
}

#UploadCont {
  position: relative;
  border: 1px solid powderblue;
  padding: 1%;
  width: 500px;
  text-align: start;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}

.App{
  position: relative;
  margin: 0px 100px;
  text-align: justify;
}

#FileCont {
  margin: 1%;
}

h1, h2 {
  color: rgb(0, 247, 255);
}

ul {
  text-align: justify;
}

button {
  background-color: #d60036;
  color: white;
  padding: 10px;
  width: 100%;
  border: 0px;
}

#percent {
  color: greenyellow;
}

.flowchart {
    position: relative;
    left: 50%;
    transform: translate(-25%)
}